@import 'tandem';

*{ margin: 0; padding: 0; }

.box {
  $childrenObj: (
    img: '&__img',
    heading: '&__heading',
    description: '&__description'
  );                                             
                                                 
  @include tandem($childrenObj, (                 
                                                        
    'default': (                                          
      this: 10px s(100vw i),
      heading: 2.5,
      description: 1.2,
      img: s(100% i) w(i 300px)
    ),                                                    

    '<=tablet': (
      this: 14px,
      heading: 2,
      img: s(14 i)
    )

  ))                                                    

}                            
                                                 
                                                        
                                                        
                                                        






                                         
                                         
                                         
                                         
                                         
                                         
                                        
