@import 'tandem';

*{ margin: 0; padding: 0; }

.box {
  $childrenObj: (
    img: '&__img',
    heading: '&__heading',
    description: '&__description'
  );                                             
                                                 
  @include tandem($childrenObj, (                 
                                                        
  'default': (                                          
    this: 28 p(10 20 auto) m(20 auto 5px 2cm) s(15px 20) w(20 i) h(i 14px),
    heading: 1.5rem,
    description: 1                                      
  ),                                                    

  '<=tablet': (
    this: 28px
  )

  ))                                                    

    // heading: '1.125, p(0.375 15), m(0 0 5 0), s(20px 2), w(i 500px), h(200px 5)',
}                            
                                                 
                                                        
                                                        
                                                        






                                         
                                         
                                         
                                         
                                         
                                         
                                        
